.container {
    border: 0;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
    padding: 0;
    right: 0;
    left: 0;
}

.header_in{
    height: 72px;
    text-align: center;
    margin:0;
}
.header_iner{
    padding-right: 15px;
    padding-left: 15px;
}


.container ul li {
    font-weight: 600;
    padding: 25px 24px;
    position: relative;
}

.container ul li:hover {
    background: #383838;
    color: white;
}

.container_out {
}

.menu{
    /* overflow:hidden; */
    padding-left: 15px;
    padding-right: 15px;
    margin:0;
}

.logo{
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 200px;
    display: inline;
    float: left;
    vertical-align: middle;
    border: none;
}