* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #5a5a5a;
    margin: 0 !important;
    font-size: 14px;
    background-color: #fff;
    font-weight: normal;
    font-style: normal;
    color: #5a5a5a;
}




ul{
    font-family: 'Montserrat';
    margin: 0;
    flex-direction: row;
    border: 2px;
}

li{
    font-family: 'Montserrat';
    list-style: none;
    display: inline-block;
}

