.my_container {
    border-top: 1px solid #f6f6f6;
    background: #f7f7f7;
    padding-top: 80px;
    padding-bottom: 420px;
}

.my_blog {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.my_container>h2 {
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 0 10px;
    color: #5a5a5a;
}

.blog_word {
    margin: auto auto 60px;
    width: 60%;
    text-align: center;
}

.bottom_pic {
    margin-right: -15px;
    margin-left: -15px;
}

.bottom_picin {
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.pic_in {
    margin-bottom: 30px;
    text-align: center;
}

.words {
    margin-top: 25px;
    text-align: center;
}

.words>h3 {
    color: #666666;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin: 0 0 10px;
}

.pic_in>img {
    vertical-align: middle;
    width: 100%;
    border: 0;
    text-align: center;
}

/* .picture1 {
    display: block;
    position: relative;
    text-align: center;
} */

.picture2 {}

.picture3 {}